#shoutbox {
	height: 300px;
	width: 100%;
	max-height: 300px;
	overflow: auto;
  word-wrap: break-word;
}

.shout {
	margin-bottom: 5px;
}

.suser {
	background-color: #DBDBDB;
	border-bottom: 2px black solid;
	padding: 3px;
}

.smessage {
	background-color: #B5B5B5;
	padding: 3px;
}
